.input-container {
  display: flex;
  justify-content: center;
}

.task-list {
  list-style-type: none;
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task {
  font-size: x-small;
  background-color: cornflowerblue;
  padding: 10px 20px;
  border-radius: 10px;
}
